@model AlloyTraining.Features.Authentication.RegisterViewModel
@using Microsoft.AspNetCore.Mvc.ModelBinding

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="/Util/images/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <link type="text/css" rel="stylesheet" href="/Util/styles/login.css">
    <title>Sign Up</title>
</head>
<body class="epi-workspace">

    <div class="top-bar">
        <img src="/Util/images/brand-logo.svg" alt="logo" class="logo">
        <span class="product-name">Optimizely</span>
    </div>

    <div id="RegisterControl" class="js-login-wrapper login-wrapper img3">
        <div class="modal">

            <form action="/auth/register" method="post">
                @Html.AntiForgeryToken()

                <ol class="clearfix">
                    <li class="login-header-container">
                        <span class="login-header">Sign up</span>
                    </li>

                    @* Summary of all model-level errors *@
                    <li>
                        @foreach (var kvp in ViewData.ModelState)
                        {
                            if (kvp.Key.Equals(""))
                            {
                                @foreach (var error in kvp.Value.Errors)
                                {
                                    <span class="text--error">
                                        @error.ErrorMessage
                                    </span>
                                }
                            }
                        }
                    </li>

                    <li>
                        <label for="Username">User Name</label>
                        <input name="Username" type="text" autocomplete="off" autofocus>
                        <span asp-validation-for="Username" class="text--error"></span>
                        @foreach (var kvp in ViewData.ModelState)
                        {
                            if (kvp.Key.Equals("Username"))
                            {
                                @foreach (var error in kvp.Value.Errors)
                                {
                                    <span class="text--error text--small">@error.ErrorMessage</span>
                                }
                            }
                        }
                    </li>

                    <li>
                        <label for="FirstName">First Name</label>
                        <input name="FirstName" type="text" autocomplete="off">
                        @foreach (var kvp in ViewData.ModelState)
                        {
                            if (kvp.Key.Equals("FirstName"))
                            {
                                @foreach (var error in kvp.Value.Errors)
                                {
                                    <span class="text--error text--small">@error.ErrorMessage</span>
                                }
                            }
                        }
                    </li>

                    <li>
                        <label for="LastName">Last Name</label>
                        <input name="LastName" type="text" autocomplete="off">
                        @foreach (var kvp in ViewData.ModelState)
                        {
                            if (kvp.Key.Equals("LastName"))
                            {
                                @foreach (var error in kvp.Value.Errors)
                                {
                                    <span class="text--error text--small">@error.ErrorMessage</span>
                                }
                            }
                        }
                    </li>

                    <li>
                        <label for="Email">Email</label>
                        <input name="Email" type="text" autocomplete="off">
                        @foreach (var kvp in ViewData.ModelState)
                        {
                            if (kvp.Key.Equals("Email"))
                            {
                                @foreach (var error in kvp.Value.Errors)
                                {
                                    <span class="text--error text--small">@error.ErrorMessage</span>
                                }
                            }
                        }
                    </li>

                    <li>
                        <label for="Password">Password</label>
                        <input name="Password" type="password" autocomplete="off">
                        @foreach (var kvp in ViewData.ModelState)
                        {
                            if (kvp.Key.Equals("Password"))
                            {
                                @foreach (var error in kvp.Value.Errors)
                                {
                                    <span class="text--error text--small">@error.ErrorMessage</span>
                                }
                            }
                        }
                    </li>

                    <li>
                        <label for="ConfirmPassword">Confirm Password</label>
                        <input name="ConfirmPassword" type="password" autocomplete="off">
                        @foreach (var kvp in ViewData.ModelState)
                        {
                            if (kvp.Key.Equals("ConfirmPassword"))
                            {
                                @foreach (var error in kvp.Value.Errors)
                                {
                                    <span class="text--error text--small">@error.ErrorMessage</span>
                                }
                            }
                        }
                    </li>

                    <li>
                        <input type="submit" name="Submit" value="Sign up" id="Submit" class="epi-button-child-item">
                    </li>

                    <li>
                        <p class="text--small">
                            <a href="/auth/login">
                                I already have an account.
                            </a>
                        </p>
                    </li>
                </ol>
            </form>
        </div>
    </div>

    <script>
            // Randomise background image (mirrors original behaviour)
            var classes = [' img1', ' img2', ' img3'];
            document.getElementById("RegisterControl").className += classes[Math.floor(Math.random() * classes.length)];
    </script>
</body>

</html>
